In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
cs_df = pd.read_csv('./datasets/customer_shopping_data.csv')
cs_df = pd.DataFrame(cs_df)

In [13]:
cs_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

In [14]:
# 날짜 데이터 변환
cs_df['invoice_date']= pd.to_datetime(cs_df['invoice_date'], dayfirst=True)

In [36]:
# 각 쇼핑몰에서의 연령대와 성별 분포를 확인하기 위한 그룹화
Kanyon = cs_df[cs_df['shopping_mall']=='Kanyon']

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05,Kanyon
4,I337046,C189076,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon
9,I326945,C283361,Female,60,Clothing,2,600.16,Credit Card,2021-08-22,Kanyon
14,I336189,C555402,Female,67,Clothing,2,600.16,Credit Card,2022-06-03,Kanyon
23,I252275,C313348,Male,44,Technology,5,5250.00,Cash,2021-10-26,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99439,I522661,C776199,Female,58,Food & Beverage,4,20.92,Cash,2021-02-01,Kanyon
99440,I887161,C137631,Female,58,Clothing,1,300.08,Cash,2021-06-22,Kanyon
99445,I750456,C270290,Female,35,Food & Beverage,5,26.15,Cash,2021-05-07,Kanyon
99449,I134399,C953724,Male,65,Clothing,1,300.08,Cash,2023-01-01,Kanyon
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,2022-09-21,Kanyon

<bound method IndexOpsMixin.value_counts of 0        Female
4        Female
9        Female
14       Female
23         Male
          ...
99439    Female
99440    Female
99445    Female
99449      Male
99452    Female
Name: gender, Length: 19823, dtype: object>

In [21]:
# 각 쇼핑몰에서의 연령대와 성별 분포를 확인하기 위한 그룹화
Forum_Istanbul = cs_df[cs_df['shopping_mall']=='Forum Istanbul']
Forum_Istanbul

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul
5,I227836,C657758,Female,28,Clothing,5,1500.40,Credit Card,2022-05-24,Forum Istanbul
49,I304265,C653385,Female,22,Books,5,75.75,Debit Card,2021-06-13,Forum Istanbul
70,I402376,C309926,Male,34,Shoes,5,3000.85,Cash,2022-09-10,Forum Istanbul
97,I153930,C567813,Male,39,Food & Beverage,3,15.69,Cash,2022-08-09,Forum Istanbul
...,...,...,...,...,...,...,...,...,...,...
99368,I120067,C230620,Male,45,Clothing,5,1500.40,Cash,2021-01-02,Forum Istanbul
99398,I129245,C276524,Female,44,Technology,2,2100.00,Debit Card,2021-05-28,Forum Istanbul
99399,I258640,C241671,Female,23,Food & Beverage,2,10.46,Credit Card,2021-07-19,Forum Istanbul
99427,I934204,C188412,Female,62,Cosmetics,4,162.64,Cash,2022-08-31,Forum Istanbul
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,2021-09-22,Forum Istanbul

In [29]:
# 각 쇼핑몰에서의 연령대와 성별 분포를 확인하기 위한 그룹화
Metrocity = cs_df[cs_df['shopping_mall']=='Metrocity']
Metrocity

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,2021-11-09,Metrocity
8,I293455,C159642,Male,69,Clothing,3,900.24,Credit Card,2021-11-04,Metrocity
10,I306368,C240286,Female,36,Food & Beverage,2,10.46,Cash,2022-12-25,Metrocity
12,I640508,C225330,Female,67,Toys,4,143.36,Debit Card,2022-07-31,Metrocity
16,I294687,C300786,Male,65,Books,2,30.30,Debit Card,2021-01-16,Metrocity
...,...,...,...,...,...,...,...,...,...,...
99405,I651573,C425890,Male,56,Shoes,3,1800.51,Debit Card,2022-08-02,Metrocity
99408,I949512,C217355,Female,47,Clothing,2,600.16,Credit Card,2021-02-21,Metrocity
99424,I549710,C541824,Female,34,Technology,3,3150.00,Cash,2021-01-13,Metrocity
99433,I403904,C142643,Male,28,Toys,1,35.84,Credit Card,2022-11-02,Metrocity
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,2021-03-28,Metrocity

In [22]:
# 각 쇼핑몰에서의 연령대와 성별 분포를 확인하기 위한 그룹화
Mall_of_Istanbul = cs_df[cs_df['shopping_mall']=='Mall of Istanbul']
Mall_of_Istanbul

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
7,I293112,C176086,Female,32,Clothing,2,600.16,Credit Card,2021-01-13,Mall of Istanbul
26,I196704,C289625,Female,25,Cosmetics,5,203.30,Credit Card,2022-04-20,Mall of Istanbul
30,I161949,C159164,Female,66,Toys,3,107.52,Debit Card,2022-07-04,Mall of Istanbul
46,I267193,C317818,Female,19,Cosmetics,3,121.98,Credit Card,2023-01-12,Mall of Istanbul
60,I133061,C336576,Male,64,Clothing,5,1500.40,Credit Card,2022-06-09,Mall of Istanbul
...,...,...,...,...,...,...,...,...,...,...
99431,I191779,C131280,Male,26,Cosmetics,4,162.64,Credit Card,2021-12-28,Mall of Istanbul
99432,I133264,C289915,Female,41,Books,2,30.30,Debit Card,2022-02-23,Mall of Istanbul
99443,I152790,C223470,Male,41,Cosmetics,4,162.64,Debit Card,2021-07-26,Mall of Istanbul
99444,I131678,C119287,Male,24,Toys,1,35.84,Cash,2021-11-26,Mall of Istanbul
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,2022-10-15,Mall of Istanbul

In [23]:
# 각 쇼핑몰에서의 연령대와 성별 분포를 확인하기 위한 그룹화
Metropol_AVM = cs_df[cs_df['shopping_mall']=='Metropol AVM']
Metropol_AVM

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM
18,I993048,C218149,Female,46,Clothing,2,600.16,Cash,2021-07-26,Metropol AVM
39,I473411,C452806,Male,24,Clothing,1,300.08,Cash,2022-12-19,Metropol AVM
41,I138674,C155059,Male,67,Cosmetics,2,81.32,Credit Card,2022-02-14,Metropol AVM
64,I218590,C224743,Female,29,Cosmetics,4,162.64,Debit Card,2022-05-09,Metropol AVM
...,...,...,...,...,...,...,...,...,...,...
99437,I662891,C180055,Female,50,Cosmetics,3,121.98,Cash,2021-09-03,Metropol AVM
99446,I327966,C107209,Female,32,Food & Beverage,1,5.23,Cash,2023-02-05,Metropol AVM
99447,I281214,C288090,Female,37,Toys,3,107.52,Cash,2021-02-21,Metropol AVM
99448,I332105,C231387,Female,65,Shoes,4,2400.68,Credit Card,2021-08-29,Metropol AVM
99451,I675411,C513603,Male,50,Toys,5,179.20,Cash,2021-10-09,Metropol AVM

In [24]:
# 각 쇼핑몰에서의 연령대와 성별 분포를 확인하기 위한 그룹화
Istinye_Park = cs_df[cs_df['shopping_mall']=='Istinye Park']
Istinye_Park

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
6,I121056,C151197,Female,49,Cosmetics,1,40.66,Cash,2022-03-13,Istinye Park
25,I195396,C285161,Male,51,Toys,2,71.68,Debit Card,2021-05-16,Istinye Park
29,I209744,C251229,Male,29,Cosmetics,3,121.98,Credit Card,2021-04-29,Istinye Park
51,I202367,C317478,Female,41,Books,3,45.45,Cash,2023-02-24,Istinye Park
52,I664787,C237330,Female,53,Cosmetics,2,81.32,Credit Card,2023-01-12,Istinye Park
...,...,...,...,...,...,...,...,...,...,...
99425,I584546,C764488,Female,39,Toys,2,71.68,Debit Card,2022-09-26,Istinye Park
99426,I126160,C145665,Female,19,Shoes,1,600.17,Debit Card,2022-01-08,Istinye Park
99429,I208840,C219131,Female,58,Toys,1,35.84,Credit Card,2023-02-18,Istinye Park
99442,I105959,C131810,Female,45,Clothing,4,1200.32,Debit Card,2021-02-01,Istinye Park
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,2021-03-16,Istinye Park

In [26]:
# 각 쇼핑몰에서의 연령대와 성별 분포를 확인하기 위한 그룹화
Zorlu_Center = cs_df[cs_df['shopping_mall']=='Zorlu Center']
Zorlu_Center

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
17,I195744,C330667,Female,42,Food & Beverage,3,15.69,Credit Card,2022-01-05,Zorlu Center
34,I167211,C164092,Female,66,Shoes,4,2400.68,Credit Card,2022-08-30,Zorlu Center
40,I246550,C716788,Female,49,Food & Beverage,3,15.69,Cash,2021-09-10,Zorlu Center
45,I117291,C134449,Male,46,Books,5,75.75,Credit Card,2022-12-09,Zorlu Center
47,I205366,C241642,Female,43,Clothing,4,1200.32,Debit Card,2022-11-07,Zorlu Center
...,...,...,...,...,...,...,...,...,...,...
99411,I231116,C210000,Female,33,Cosmetics,4,162.64,Debit Card,2021-08-12,Zorlu Center
99412,I637813,C241121,Female,67,Toys,4,143.36,Cash,2021-10-03,Zorlu Center
99422,I120266,C187578,Female,50,Books,2,30.30,Cash,2022-08-27,Zorlu Center
99441,I203187,C235554,Male,38,Food & Beverage,4,20.92,Cash,2023-03-02,Zorlu Center
99450,I170504,C226974,Female,28,Books,1,15.15,Cash,2023-02-28,Zorlu Center

In [27]:
# 각 쇼핑몰에서의 연령대와 성별 분포를 확인하기 위한 그룹화
Cevahir_AVM = cs_df[cs_df['shopping_mall']=='Cevahir AVM']
Cevahir_AVM

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
13,I179802,C312861,Male,25,Clothing,2,600.16,Cash,2022-11-17,Cevahir AVM
19,I992454,C196845,Male,24,Toys,4,143.36,Cash,2023-03-07,Cevahir AVM
21,I412481,C125696,Female,27,Food & Beverage,1,5.23,Cash,2021-05-01,Cevahir AVM
22,I823067,C322947,Male,52,Clothing,2,600.16,Credit Card,2022-06-18,Cevahir AVM
28,I655874,C447138,Female,65,Shoes,3,1800.51,Cash,2022-08-23,Cevahir AVM
...,...,...,...,...,...,...,...,...,...,...
99336,I122946,C427522,Female,30,Clothing,3,900.24,Credit Card,2022-05-05,Cevahir AVM
99344,I652666,C302240,Male,19,Clothing,4,1200.32,Credit Card,2022-12-07,Cevahir AVM
99361,I253408,C450444,Female,62,Cosmetics,1,40.66,Credit Card,2022-08-06,Cevahir AVM
99416,I143010,C922388,Male,55,Food & Beverage,5,26.15,Cash,2021-12-22,Cevahir AVM
99436,I579905,C265057,Female,57,Clothing,5,1500.40,Cash,2022-03-27,Cevahir AVM

In [28]:
# 각 쇼핑몰에서의 연령대와 성별 분포를 확인하기 위한 그룹화
Viaport_Outlet  = cs_df[cs_df['shopping_mall']=='Viaport Outlet']
Viaport_Outlet

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
15,I688768,C362288,Male,24,Shoes,5,3000.85,Credit Card,2021-11-07,Viaport Outlet
54,I137794,C133687,Female,45,Food & Beverage,3,15.69,Debit Card,2021-03-12,Viaport Outlet
100,I283443,C189493,Male,43,Technology,3,3150.00,Credit Card,2022-05-25,Viaport Outlet
103,I200392,C307921,Female,24,Clothing,5,1500.40,Credit Card,2021-09-14,Viaport Outlet
115,I147334,C306395,Male,35,Clothing,2,600.16,Cash,2022-01-12,Viaport Outlet
...,...,...,...,...,...,...,...,...,...,...
99313,I348895,C250612,Male,43,Clothing,2,600.16,Cash,2021-10-29,Viaport Outlet
99327,I141362,C206911,Male,46,Food & Beverage,2,10.46,Credit Card,2022-10-25,Viaport Outlet
99353,I328528,C728472,Male,28,Books,4,60.60,Debit Card,2022-12-16,Viaport Outlet
99402,I192994,C213194,Male,62,Food & Beverage,5,26.15,Cash,2021-04-16,Viaport Outlet
99418,I892537,C261327,Female,35,Food & Beverage,4,20.92,Credit Card,2022-10-15,Viaport Outlet

In [27]:
# 각 쇼핑몰에서의 연령대와 성별 분포를 확인하기 위한 그룹화
Emaar_Square_Mall  = cs_df[cs_df['shopping_mall']=='Emaar Square Mall']
Emaar_Square_Mall

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
13,I179802,C312861,Male,25,Clothing,2,600.16,Cash,2022-11-17,Cevahir AVM
19,I992454,C196845,Male,24,Toys,4,143.36,Cash,2023-03-07,Cevahir AVM
21,I412481,C125696,Female,27,Food & Beverage,1,5.23,Cash,2021-05-01,Cevahir AVM
22,I823067,C322947,Male,52,Clothing,2,600.16,Credit Card,2022-06-18,Cevahir AVM
28,I655874,C447138,Female,65,Shoes,3,1800.51,Cash,2022-08-23,Cevahir AVM
...,...,...,...,...,...,...,...,...,...,...
99336,I122946,C427522,Female,30,Clothing,3,900.24,Credit Card,2022-05-05,Cevahir AVM
99344,I652666,C302240,Male,19,Clothing,4,1200.32,Credit Card,2022-12-07,Cevahir AVM
99361,I253408,C450444,Female,62,Cosmetics,1,40.66,Credit Card,2022-08-06,Cevahir AVM
99416,I143010,C922388,Male,55,Food & Beverage,5,26.15,Cash,2021-12-22,Cevahir AVM
99436,I579905,C265057,Female,57,Clothing,5,1500.40,Cash,2022-03-27,Cevahir AVM